:root {
  font-family: 'Space Grotesk', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  background: #f5f7fb;
  color: #111827;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

:root {
  --bg: #f8f9fa;
  --card: #fff;
  --text: #212529;
  --muted: #6c757d;
  --primary: #007bff;
  --success: #28a745;
}

html, body, #root {
  height: 100%;
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  background: var(--bg);
  color: var(--text);
}


.app-root {
  min-height: 100vh;
  display: flex;
  align-items: center;      /* centra vertical */
  justify-content: center;  /* centra horizontal */
  background: var(--bg);
  padding: 30px 18px;
  box-sizing: border-box;
}

.app-container {
  width: 100%;
  max-width: 920px;         /* límite de ancho */
  margin: 0 auto;           /* centra horizontal */
  text-align: center;       /* centra el título */
}

.app-title {
  margin: 0 0 18px 0;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
}

.pagination {
  margin-top: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.btn {
  padding: 10px 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-weight: 600;
}

.btn-left {
  background: var(--primary);
  color: #fff;
}

.btn-right {
  background: var(--success);
  color: #fff;
}

.btn:disabled {
  background: #e9ecef;
  color: var(--muted);
  cursor: not-allowed;
}